{% extends 'layout.html' %}

{% block body %}

    <h1>Edit</h1>
    <form action="/edited" method="post">
        <input hidden name="id" value="{{item['id']}}">
        <input autocomplete="off" type="text" placeholder="food" name="food" value="{{item['name']}}">
        <input autocomplete="off" type="number" step="0.01" placeholder="price" name="price" value="{{item['price']}}">
        <input autocomplete="off" type="number" placeholder="calories" name="calories" value="{{item['calories']}}">
        <button type="submit">Update</button>
    </form>

{% endblock %}