{% extends "layout.html" %}

{% block body %}

    <div class="register-container">
        <!-- Image and branding texts on the left -->
        <div class="register-left">
            <div class="branding-texts">
                <h1>FinTrack</h1>
                <p>Your personal finance management app.</p>
            </div>
        </div>
    
        <!-- Registration card on the right -->
        <div class="register-right">
            <div class="register-card">
                <h2>Register</h2>

                <!-- Fill out fields -->
                <form action="/register" method="POST">
                    <input type="text" autofocus autocomplete="off" name="username" placeholder="Username">
                    <input id="password_input" type="password" autocomplete="off" name="password" placeholder="Password">
                    <input id="password_input" type="password" autocomplete="off" name="password2" placeholder="Confirm Password">
                    <div class="checkbox-container">
                        <span>
                            <input type="checkbox" name="show-password" id="show-password">
                        </span>
                        <span>
                            <label for="show-password">Show Password</label>
                        </span>
                    </div>
                    <p>Password must have:</p>
                    <p>• at least 8 characters</p>
                    <p>• uppercase and lowercase letters</p>
                    <p>• a number</p>
                    <p>• a special symbol</p>

                    <input type="number" autocomplete="off" name="balance" placeholder="Account starting balance">

                    <div class="checkbox-container">
                        <span>
                            <input type="checkbox" name="student" id="student_check">
                        </span>
                        <span>
                            <label for="student_check">I am a student</label>
                        </span>
                    </div>
            
                    <button type="submit">Register</button>
                </form>
        
                <!-- Option to log in -->
                <p class="login-text">
                Already have an account? <a href="/login">Login</a>
                </p>
            </div>
        </div>
    </div>
  

{% endblock %}