{% extends 'layout.html' %}

{% block body %}

    hii
    transactions
    <form action="/add_transaction" method="get">
        <button type="submit">Add Transaction</button>
    </form>
    
    {% if has_transactions %}
        <form action="/transactions" method="post">
            Sort
            <select name="sort">
                {% for k in order_keys%}
                    <option value={{k}} {% if k==sort %} selected {% endif %}>{{orders[k]}}</option>
                {% endfor %}
            </select>
            increasing order<input type="checkbox" ({% if desc %} checked {% endif %}) name="reverse">
            <button type="submit">Apply</button>
        </form>
        <table>
            <th>Type</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>

            {% for t in transactions %}
    
                <tr {% if t["deleted"] %} style="color:red;" {% endif %}>
                    {% if t["amount"] < 0%}
                        <td>Expense</td>
                    {% else %}
                        <td>Income</td>
                    {% endif %}
                    <td>{{(t["amount"]|abs)|usd}}</td>
                    <td>{{t["category"]}}</td>
                    <td>{{t["date_transacted"]}}</td>
                    
                    <td>
                        {% if not t["deleted"] %}
                            <form action="/edit_transaction" method="post">
                                <input hidden value={{t["transaction_id"]}} name="id">
                                <button type="submit">Edit</button>
                            </form>
                        {% endif %}
                    </td>

                    <td>
                        <span id="confirmation_needed_action">
                            <form id="action_button" onsubmit="return false">
                                <button type="submit">{% if not t["deleted"] %}Delete{% else %}Restore{% endif %}</button>
                            </form>
                            <span hidden id="confirm_action">
                                {% if not t["deleted"] %}Delete?{% else %}Restore?{% endif %}
                                <form action={% if not t["deleted"] %}"/delete_transaction"{% else %}"/restore_transaction"{% endif %} method="post">
                                    <input hidden value={{t["transaction_id"]}} name="id">
                                    <button type="submit">Confirm</button>
                                </form>
                                <form id="cancel_action" onsubmit="return false">
                                    <button type="submit">Cancel</button>
                                </form>
                            </span>
                        </span>
                    </td>
                </tr>
    
            {% endfor %}
   
        </table>

    
    {% endif %}

{% endblock %}